In [3]:
!ls ../dataset/toto

4D.zip      5D.zip      6D.zip      Toto650.zip Toto655.zip Toto658.zip

In [16]:
import numpy as np
import pandas as pd

pd.read_csv?

df = pd.read_csv('../dataset/toto/4D.zip', dtype=str)
df.head()

,DrawNo,DrawDate,1stPrizeNo,2ndPrizeNo,3rdPrizeNo,SpecialNo1,SpecialNo2,SpecialNo3,SpecialNo4,SpecialNo5,...,ConsolationNo1,ConsolationNo2,ConsolationNo3,ConsolationNo4,ConsolationNo5,ConsolationNo6,ConsolationNo7,ConsolationNo8,ConsolationNo9,ConsolationNo10
0,040792,19920506,0019,1124,0592,0950,2479,7139,3114,4609,...,5311,1949,1606,3775,6226,1271,7455,7227,9258,0407
1,040892,19920507,0905,3591,8690,7202,6796,4959,2008,7506,...,4562,0823,8938,1933,5378,9909,7586,9765,4640,9963
2,040992,19920510,4162,5766,9514,9309,9344,1573,5077,1037,...,6908,4809,0464,1932,8240,2725,6294,9991,5707,6754
3,041092,19920513,8060,4939,0023,4607,7550,3038,5542,6792,...,6683,2863,8238,8435,5799,6684,9326,0361,7529,7599
4,041192,19920514,5371,5472,3489,6872,2455,0600,4590,7261,...,1683,6817,4710,6375,4702,9716,6082,9674,8899,7760

In [17]:
df = df.set_index('DrawNo')
df.head()

,DrawDate,1stPrizeNo,2ndPrizeNo,3rdPrizeNo,SpecialNo1,SpecialNo2,SpecialNo3,SpecialNo4,SpecialNo5,SpecialNo6,...,ConsolationNo1,ConsolationNo2,ConsolationNo3,ConsolationNo4,ConsolationNo5,ConsolationNo6,ConsolationNo7,ConsolationNo8,ConsolationNo9,ConsolationNo10
DrawNo,,,,,,,,,,,,,,,,,,,,,
040792,19920506,0019,1124,0592,0950,2479,7139,3114,4609,7836,...,5311,1949,1606,3775,6226,1271,7455,7227,9258,0407
040892,19920507,0905,3591,8690,7202,6796,4959,2008,7506,8364,...,4562,0823,8938,1933,5378,9909,7586,9765,4640,9963
040992,19920510,4162,5766,9514,9309,9344,1573,5077,1037,6498,...,6908,4809,0464,1932,8240,2725,6294,9991,5707,6754
041092,19920513,8060,4939,0023,4607,7550,3038,5542,6792,1722,...,6683,2863,8238,8435,5799,6684,9326,0361,7529,7599
041192,19920514,5371,5472,3489,6872,2455,0600,4590,7261,3384,...,1683,6817,4710,6375,4702,9716,6082,9674,8899,7760