In [3]:
!ls ../dataset/toto

4D.zip      5D.zip      6D.zip      Toto650.zip Toto655.zip Toto658.zip

In [36]:
import numpy as np
import pandas as pd

#pd.read_csv?

df = pd.read_csv('../dataset/toto/4D.zip', dtype=str)
df.head()
#df['DrawDate_Formatted'] = pd.to_datetime(df['DrawDate'], format='%Y%m%d')
#df = df.loc[df['DrawDate_Formatted'] >= '2018-01-01']
#df.melt?
df = df.melt(id_vars=["DrawNo", "DrawDate"], var_name="PrizeType", value_name="No")
df = df.sort_values(["DrawNo", "DrawDate"])

df.head(10)
#df.count

       DrawNo  DrawDate   PrizeType    No
0      040792  19920506  1stPrizeNo  0019
4368   040792  19920506  2ndPrizeNo  1124
8736   040792  19920506  3rdPrizeNo  0592
13104  040792  19920506  SpecialNo1  0950
17472  040792  19920506  SpecialNo2  2479
21840  040792  19920506  SpecialNo3  7139
26208  040792  19920506  SpecialNo4  3114
30576  040792  19920506  SpecialNo5  4609
34944  040792  19920506  SpecialNo6  7836
39312  040792  19920506  SpecialNo7  8981

In [48]:
df_ticker = pd.read_csv('../dataset/ticker.csv', dtype=str)
print(df_ticker.count())
df_ticker = df_ticker.loc[df_ticker['Exchange'] == 'KLS']
print(df_ticker.count())
#df_ticker.head(400)

Ticker           106328
Name              96676
Exchange          95092
Category Name     20728
Country           95091
dtype: int64
Ticker           1654
Name             1654
Exchange         1654
Category Name       0
Country          1654
dtype: int64