In [3]:
!ls ../dataset/toto

4D.zip      5D.zip      6D.zip      Toto650.zip Toto655.zip Toto658.zip

In [6]:
import pandas as pd
#pd.read_csv?

df = pd.read_csv('../dataset/toto/4D.zip')
df.head()

,DrawNo,DrawDate,1stPrizeNo,2ndPrizeNo,3rdPrizeNo,SpecialNo1,SpecialNo2,SpecialNo3,SpecialNo4,SpecialNo5,...,ConsolationNo1,ConsolationNo2,ConsolationNo3,ConsolationNo4,ConsolationNo5,ConsolationNo6,ConsolationNo7,ConsolationNo8,ConsolationNo9,ConsolationNo10
0,40792,19920506,19,1124,592,950,2479,7139,3114,4609,...,5311,1949,1606,3775,6226,1271,7455,7227,9258,407
1,40892,19920507,905,3591,8690,7202,6796,4959,2008,7506,...,4562,823,8938,1933,5378,9909,7586,9765,4640,9963
2,40992,19920510,4162,5766,9514,9309,9344,1573,5077,1037,...,6908,4809,464,1932,8240,2725,6294,9991,5707,6754
3,41092,19920513,8060,4939,23,4607,7550,3038,5542,6792,...,6683,2863,8238,8435,5799,6684,9326,361,7529,7599
4,41192,19920514,5371,5472,3489,6872,2455,600,4590,7261,...,1683,6817,4710,6375,4702,9716,6082,9674,8899,7760